
    <div class="col-lg-12 stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Profit Portfolio</h4>
            <p class="card-description"> Add class <code>.table-{color}</code>
            </p>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>#</th>
                  <th> Investor Name </th>
                  <th> Position </th>
                  <th> Share </th>
                  <th> Amount </th>
                  <th> Profit </th>
                  <th> Date </th>
                </tr>
              </thead>
              <tbody>
                <tr class="table-info">
                  <td>1</td>
                  <td> Shahidul Islam </td>
                  <td> Director </td>
                  <td> 2 </td>
                  <td> 120000 </td>
                  <td> 8000 </td>
                  <td> 12/11/22 </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>